{% extends 'base.html' %}
{% load static %}

{%block thanks %}
	<!-- Спасибо -->
	
  	<section>
		{% if name %}
  		<div class="container">
  			<CENTER style = 'margin-top: 35%; margin-bottom: 35%;'><h1> {{ name }}, Thank You! We'll call you soon ^_^ </h1></CENTER>
  		</div>
		{% else %}
		<div class="container">
			<CENTER style = 'margin-top: 35%; margin-bottom: 35%;'><h1> Thank You! But something be wrong  </h1></CENTER>
		</div
		{% endif %}
  	</section>
  	<!-- Спасибо -->
{% endblock %}
